<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040858109422-crsob8mr49p7ao5h75q9cblqngoq7g26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040858109422-crsob8mr49p7ao5h75q9cblqngoq7g26</string>
	<key>API_KEY</key>
	<string>AIzaSyDpDOwHmcdQpSuJPhuKJWi0Fc9a697Bxrs</string>
	<key>GCM_SENDER_ID</key>
	<string>1040858109422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-mobile-85d7a</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-mobile-85d7a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040858109422:ios:15414585388c541620aaff</string>
</dict>
</plist>